* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.mainContainer {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #ddd6f3, #faaca8);
}

.todo-list {
    height: 80%;
    width: 80%;
    border: 1px solid black;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 20px;
}

.enter-task {
    justify-content: center;
    display: flex;
}

.enter-task img {
    width: 5vw;
    height: auto;

}














.item-row {
    display: flex;
}